name: Build Images

on:
  pull_request:
    branches: 
      - master
  push:
    branches: 
      - master
  schedule:
    - cron: '0 */12 * * *'

jobs:
  build-images:
    name: "VPP ${{ matrix.tag }}"
    runs-on: ubuntu-latest
    env:
      DOCKER_REPO: ligato/vpp-base
      REPO: ${{ matrix.repo }}
      TAG: ${{ matrix.tag }}
    strategy:
      fail-fast: false
      matrix:
        tag: ['master', 'latest', '21.01', '20.09', '20.05', '20.01']
        include:
        - tag: 'master'
          repo: 'master'
        - tag: 'latest'
          repo: 'release'
        - tag: '21.01'
          repo: '2101'
        - tag: '20.09'
          repo: '2009'
        - tag: '20.05'
          repo: '2005'
        - tag: '20.01'
          repo: '2001'
    
    steps:
    - name: "Checkout"
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: "Build image"
      run: |
        docker build --build-arg REPO="$REPO" --tag "$DOCKER_REPO:$TAG" .
        docker run --rm "$DOCKER_REPO:$TAG" dpkg-query -f '${Version}' -W vpp

    - name: "Publish image"
      if: github.event_name != 'pull_request'
      run: |
        export VPP_VERSION=$(docker run --rm "$DOCKER_REPO:$TAG" cat /vpp/version | cut -d'~' -f1,2 | sed -e 's/~/./g')
        docker tag "$DOCKER_REPO:$TAG" "$DOCKER_REPO:$VPP_VERSION"
        docker images "$DOCKER_REPO"
        if curl -sSflL "https://index.docker.io/v1/repositories/$DOCKER_REPO/tags/$VPP_VERSION" >/dev/null; then
          echo "Image $DOCKER_REPO:$VPP_VERSION has already been published."
        else
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --output "type=image,push=true" \
            --tag "$DOCKER_REPO:$VPP_VERSION" \
            --tag "$DOCKER_REPO:$TAG" .
        fi
